<div class="icons-wrapper">
    <div class="row-fluid head">
        <div class="span12">
            <h4>肝炎数据分析</h4>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h5>上传数据文件</h5>
            <div class="row">
                <div class="col-md-6">
                    <form novalidate name="UploadForm" id="upload-form" method="post" action="">
                        <div class="form-group">
                            <label>File:</label>
                            <input type="file" ng-model="myFile" file-model="myFile" required />
                        </div>
                        <button class="btn btn-primary" id="upload-btn" ng-click="uploadFile()">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>